ul {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}

.listNotes {
    width: 90%;
    height: 14vh;
    background-color: #ffffff95;
    margin: auto;
    margin-top: 10%;
    border-radius: 50% 20% / 10% 40%; 
}

.listTitle, .listDescription {
    letter-spacing: 1px;
    text-align: center;
    display: grid;
    margin-top: 13px;
    margin-left: 30px;
}

.btn {
    margin-top: 5px;
    padding: 2px 4px 2px 4px;
    border: none;
    background: none;
}

.btnEdit, .btnSave, .btnDelete {
    pointer-events: none; 
    width: 25px;
}

