.note {
    width: 40%;
    height: 14vh;
    background-color: #ffffff95;
    margin: auto;
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.noteTitle {
    font-size: 18px;
    font-family: arial;
    text-align: center;
    width: 250px;
}
  
.noteDescription {
    margin-top: 8px;
    font-size: 18px;
    font-family: arial;
    text-align: center;
    width: 252px;
}
  
.btnNote {
    padding: 6px 16px 6px 16px;
    font-size: 16px;
    font-family: arial;
    margin-left: 96px;
    border-radius: 10px;
    margin-top: 8px;
}